<a href="https://colab.research.google.com/github/korupalli/ML-Project/blob/master/balancing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [3]:
frame = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data.csv')
frame.Mentions.replace(np.NaN,0,inplace=True)

In [11]:
frame.head()

              Tweet Id  Followers  Friends  Retweets  ...  Time  Year Pos Neg
0  1178791985106153472      36365    19344        13  ...    22  2019   1  -4
1  1178798309491822592       9009     4943        26  ...    22  2019   2  -1
2  1178803487037108225     156538     3858        56  ...    22  2019   1  -1
3  1178803977376415749      27014    24488        39  ...    22  2019   2  -1
4  1178813521884172288      39568    37514       136  ...    23  2019   2  -1

[5 rows x 14 columns]

In [6]:
frame.drop(frame.index[frame[frame['Retweets'] <= 10].index.values], inplace=True)
frame.reset_index(inplace=True)

In [10]:
#Dropping duplicated index columns
frame.drop(frame.columns[[0, 1]], axis = 1, inplace = True)

In [39]:
frame['bin'] = pd.cut(frame['Retweets'], [10, 50, 100, 1000, 10000, 275530])

In [46]:
frame['bin'] = frame.bin.apply(preprocessing.LabelEncoder().fit_transform)

In [50]:
frame.bin.value_counts()

0    1051868
2     471878
1     358895
3      40149
4       2347
Name: bin, dtype: int64

In [51]:
df_class_0 = frame[frame['bin'] == 0]
df_class_1 = frame[frame['bin'] == 1]
df_class_2 = frame[frame['bin'] == 2]
df_class_3 = frame[frame['bin'] == 3]
df_class_4 = frame[frame['bin'] == 4]

In [55]:
df_class_0_under = df_class_0.sample(2347)
df_class_1_under = df_class_1.sample(2347)
df_class_2_under = df_class_2.sample(2347)
df_class_3_under = df_class_3.sample(2347)

In [56]:
df = pd.concat([df_class_0_under, df_class_1_under,df_class_2_under,df_class_3_under, df_class_4], axis=0)