<a href="https://colab.research.google.com/github/korupalli/ML-Project/blob/master/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np

data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/TweetsCOV19.tsv',sep = '\t',skiprows = list(range(4467891,8935782)),usecols=range(11),iterator=True, chunksize=4460000)
df = pd.concat(data, ignore_index=True)
data2 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/TweetsCOV19.tsv',sep = '\t',skiprows = list(range(4467891)),usecols=range(11),iterator=True, chunksize=4460000)
df2 = pd.concat(data2, ignore_index=True)
frame = pd.concat([df,df2])

In [ ]:
frame = pd.concat([pd.read_csv('/content/drive/My Drive/Colab Notebooks/TweetsCOV19.tsv',sep = '\t',skiprows = list(range(4467891,8935782)),usecols=range(11),header=None),pd.read_csv('/content/drive/My Drive/Colab Notebooks/TweetsCOV19.tsv',sep = '\t',skiprows = list(range(4467891)),usecols=range(11),header=None)])

frame.columns = ['Tweet Id', 'Username', 'Timestamp', 'Followers', 'Friends', 'Retweets', 'Favorites', 'Entities', 'Sentiment', 'Mentions', 'Hashtags']

In [ ]:
frame['Timestamp'] = frame.Timestamp.apply(lambda x: x.split())

In [ ]:
frame['Day'] = frame.Timestamp.apply(lambda x: x[0])

In [ ]:
frame['Month'] = frame.Timestamp.apply(lambda x: x[1])
frame['Date'] = frame.Timestamp.apply(lambda x: x[2])
frame['Time'] = frame.Timestamp.apply(lambda x: x[3].split(':')[0])
frame['Year'] = frame.Timestamp.apply(lambda x: x[5])

In [ ]:
frame['Pos'] = frame.Sentiment.apply(lambda x: int(x.split()[0]))

In [ ]:
frame['Neg'] = frame.Sentiment.apply(lambda x: int(x.split()[1]))

In [ ]:
frame = frame.drop(columns=['Timestamp','Entities','Username','Sentiment'])

In [ ]:
frame.replace('null;', np.NaN,inplace=True)

In [ ]:
frame.Hashtags.loc[pd.notnull(frame.Hashtags)]

In [ ]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [ ]:
frame.to_csv('data.csv')
!cp data.csv "drive/My Drive/Colab Notebooks/"

In [ ]:
frame = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data.csv')

In [13]:
frame.shape

(8077778, 16)

In [16]:
frame.head()

   Unnamed: 0             Tweet Id  ...  Mentions_count  Hashtags_count
0           0  1178791787386814465  ...               0               0
1           1  1178791985106153472  ...               0               0
2           2  1178793230223183872  ...               0               0
3           3  1178795172206919680  ...               0               0
4           4  1178798309491822592  ...               0               1

[5 rows x 17 columns]

Code for getting mentions_count

In [ ]:
frame = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data.csv')
frame.Mentions.replace(np.NaN,0,inplace=True)

In [ ]:
arr = np.array(frame.Mentions[frame.Mentions != 0].str.split().apply(lambda x: np.array(x,dtype=object)))

In [ ]:
pd.Series(np.concatenate(arr)).value_counts().to_csv('Mentions_count.csv')
!cp Mentions_count.csv "drive/My Drive/Colab Notebooks/"

In [17]:
#Code for hashtag count
arr = np.array(frame.Hashtags[frame.Hashtags != 0].str.split().apply(lambda x: np.array(x,dtype=object)))

pd.Series(np.concatenate(arr)).value_counts().to_csv('Hashtags_count.csv')
!cp Hashtags_count.csv "drive/My Drive/Colab Notebooks/"